.wardenPage {
    height: 100vh;
    width: 100%;
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: "Josefin Sans", sans-serif;
  }
  
  .navbar {
    font-size: 18px;
    background: transparent;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    padding-bottom: 10px;
    /* box-shadow: 0px 2px 5px #777; */
  }
  
  .main-nav {
    list-style-type: none;
    display: none;
  }
  
  .nav-links,
  .logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .main-nav li {
    text-align: center;
    margin: auto;
  }
  
  .navbar-brand{
      text-decoration: none;
      color: #fff;
      font-family: 'Poppins';
      font-size: 1.6rem;
      font-weight: 500;
      display: flex;
      flex-direction: column;
  }
  .navbar-brandtag{
      text-decoration: none;
      color: #fff;
      font-family: 'Poppins';
      font-size: 1rem;
      font-weight: 500;
  }
  
  .logo {
    display: inline-table;
    font-size: 48px;
    margin-top: 10px;
    margin-left: -580px;
    font-variant: initial;
    font-family: "Times New Roman", Times, serif;
  }
  
  .active {
    display: block;
  }

  .sidebar{
    width: 100%;
    height: 100%;
    padding: 50px;
  }



  .card{
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
  }

  .cardItem{
    width: 200px;
    height: 150px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
    border: 1px solid black;
  }
  
  @media screen and (min-width: 768px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 90px;
      align-items: center;
    }
  
    .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
      cursor: pointer;
    }
  
    .main-nav li {
      margin: 0;
    }
  
    .nav-links {
      margin-left: 40px;
    }
  
    .logo {
      margin-top: 0;
    }
  
    .navbar-toggle {
      display: none;
    }
  
    .logo:hover,
    .nav-links:hover,
    .dropdown button:hover {
      color: rgba(255, 255, 255, 1);
    }
  
    .logo:hover:after,
    .nav-links:hover:after,
    .dropdown button:hover:after {
      -webkit-transform: translateX(-50%) scaleX(1);
      transform: translateX(-50%) scaleX(1);
    }
    .navbar-brand {
      margin-left: 50px;
    }
  }
  